*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.login-outer{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-main{
  height: 300px;
  width: 400px;
  display: flex;
  background-color: #1d2e7b;
}

.form-outer{
  width: 100%;
  padding: 20px 20px;

}
.form-outer label{
 margin-top: 20px;
  font-size: 30px;
  color: beige;
  display: inline-block;
  width: 100%;
}
.form-outer label input{
  height: 30px;
  width: 80%;
}
.form-outer button{
  padding: 10px 50px;
  margin-top: 10px;
  background-color: #d44646;
  color: white;
  font-size: 20px;
}
.cart-outer{
  display: flex;
  align-items: center;
  height: 30px;
  padding: 20px 20px;
  text-align: center;
  width: fit-content;
  border-radius: 20px;
  background-color: #69e17f;
  color: white;
}
.header-outer{
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #e13939;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.header-logo-name{
  font-size: 25px;
  color: white;
  display: flex;
}
.cart-allitems-outer{
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 20px;
}
.each-outer{
  list-style: none;
}
.each-item-outer{
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  height: fit-content;
  width: 200px;
  display: inline-block;
  text-align: center;
  
}
.each-item-outer img{
  height: 150px;
  width: 180px;
  margin-top: 10px;
}
.each-item-outer h3,h4{
  margin-top: 10px;
  font-size: 20px;
}
.each-item-outer button{
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #4b4fc2;
  border: none;
  color: white;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.cartlist-outer{
  height: fit-content;
  width: 100%;
  background-color: #e1a6a6;
  padding: 40px 20px;
}
.cart-item-outer{
  display: flex;
  height: 50px;
  border-radius: 20px;
  padding: 15px 25px;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0px;
  background-color: #3f80bc;
}
.cart-item-outer div{
  font-size: 25px;
}
.cart-item-outer button{
  height: 25px;
  width: 50px;
}
.logout-outer{
  display: flex;
  padding: 15px 20px;
  background-color: #e4398b;
  color: wheat;
  border-radius: 20px;
  cursor: pointer;
}